* {
    color: var(--fg);
}

body {
    flex-direction: column;
    display: flex;
    padding: 0px 30px;
    justify-content: start;
    height: 100%; width: 100%;
    background: var(--background)!important;
}

.settings div {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings div * {
    margin: 5px 0px;
}

.settings div.buttons {
    display: block;
}

.settings div.homePage a {
    text-decoration: underline;
}

.settings div.homePage ul {
    padding-left: 30px;
}

main.main {
    width: 93vw;
    margin: 70px 25px 0px 25px;
}

label#labelUploadBackground {
    padding: 5px;
    background: var(--background);
    color: var(--fg);
    border-radius: .5em;
    border: 2px solid var(--fg);
}

.settings input[type=radio] {
    margin-right: 5px;
}

input[type=radio]:checked:after {
    background: var(--accent);
}

input[type=radio]:after {
    content: '';
    width: 15px;
    height: 15px;
    background: var(--fg);
    border-radius: 3px;
    display: block;
    transition: .3s;
}

input[type=file] {
    display: none;
}

h3 {
    margin: 5px 0px;
}

.alert {
    opacity: 0;
    top: 25px; left: 50%;
    position: sticky;
    transform: scaleX(0) translate(-50%, -0%);
    background: var(--background);
    border-radius: 5px;
    border: 2px solid var(--fg);
    padding: 5px;
}

.dargenZone * {
    border-color: #eb2349;
    color: #eb2349;
}

hr {
    border: 1px solid var(--cards);
}

footer {
    font-size: .8em;
    color: #a0a0a0;
}

footer a {
    text-decoration: underline;
}